<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- #########################################
         MODIFY ONLY IF YOU KNOW WHAT YOU'RE DOING
         The most important setting is 'Output folder'
         which determins where to put downloaded data 
         ######################################### -->
    
    <!-- Folder where scraped data will output -->
    <add key="Output Folder" value="E:\TEMP\Output\" />
    <!-- Determins the separator char used to separate each value in
         the data files. Important based on your Operative System's 
         default language and if you don't know how to properly 
         import your data file in an editor (like Excel) -->
    <add key="Separator" value=";" />
    <!-- Default first Season to download (when using 'Full download' option) -->
    <add key="First Season" value="1"/>
    <!-- Default last Season to download (when using 'Full download' 
         option in the 'Get Data' window ).
         Enabled only in the case 'Determine last available Season' function
         was not first utilized -->
    <add key="Last Season" value="8"/>
    <!-- URI Address from where to scrape infos -->
    <add key="Address Start" value="prova" />
    <!-- Page from where to start reading data (when using 'Full download' option) -->
    <add key="Start Page" value="1" />
    <!-- Page to where to stop reading data (when using 'Full download' option) -->
    <add key="End Page" value="200" />
    <!-- ######################
         # DEPRECATED SECTION # 
         ###################### -->
    <!-- DEPRECATED -->
    <add key="Output File" value="Test.txt" />
    <!-- DEPRECATED -->
    <add key="Expected download time per page" value="2,5"/>
    <!-- DEPRECATED -->
    <add key="Default Min Page" value="0"/>
    <!-- DEPRECATED -->
    <add key="Default Max Page" value="8000"/>
    <!-- DEPRECATED -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- DEPRECATED -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>